
@font-face {
    font-family: 'Lato Regular';
      src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
      font-weight: 400;
  }
  
  .lato-regular {
    font-family: 'Lato Regular';
  }
  
    body {
      font-family: 'Lato Regular', sans-serif !important;
      font-size: 18px !important;
      line-height: 28px !important;
      letter-spacing: 0.1px !important;
    }
  
  
  .container {
    width:1140px !important;
  }

   /* Container mobile */
   @media(max-width:767px) {
    .container {
      width:100% !important;
    }
    }

  .text-green {
    color : #126634;
  }

  p.our-stories-single-post-para {
    font-size: 16px !important;
  }

  .our-stories-single-post-date {
    font-size: 13px !important;

  }